numpy<2.0
pyvista[jupyter]
beef-knutankv @ git+https://www.github.com/knutankv/beef.git@master
ipython
# pyclipr from github on macos and linux
pyclipr @ git+https://github.com/alemuntoni/pyclipr.git@main; sys_platform != "win32"
# pyclipr from pypi on windows
pyclipr; sys_platform == "win32"
triangle @ git+https://github.com/drufat/triangle.git@master
libigl
pymeshlab
nlopt